<div class="container">
  <br>
  <br>
  <div class="recommendations-title-box d-flex align-items-center"><h2>Last Recommendations by people you know</h2></div>
  <% @recommendations.each do |r| %>
    <div class="recomendation-card d-flex align-items-center">
      <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key %>
      <% else %>
          <img src="https://pixy.org/download/301929/" class="recommendation-card-avatar">
      <% end %>

      <div class="card-text-info d-flex flex-column">
        <h3><%= r.movie.title %></h3>
        <p><%= r.movie.description %></p>
        <div class="tag-in-line d-flex justify-content-between">
        <p class="green"><%= r.user.first_name %> has recommended this movie</p>
          <% if r.tags.present? %>
              <% r.tags.each do |tag| %>
                <div class="tag-card"><%= tag.name.downcase.capitalize %></div>
              <% end %>
           <% end %>
         </div>
      </div>
    </div>
  <% end %>
</div>
