

<div class="container pt-4">

  <div class="lets-go mb-4">
    <div class="lets-go-info d-flex flex-column" >
      <h1>List of movies</h1>
    </div>
      <%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1574955096/illustrations_f9yo5s.svg", class:'lets-go-picture' %>
  </div>
</div>

 <div class="movie-grid">
<% @movies.each do |movie| %>
  <!-- <div class="col-4"> -->

    <div class="card-product-movies">
      <img src="<%= movie.picture_url %>" />
      <div class="card-product-infos-movies">
        <h2 ><%= movie.title %></h2>
        <p><%= movie.description %></p>
        <p class="Movie_icone"> IMDB NETFLIX AMAZON PRIME</p>

        <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, movie_recommendations_path(movie), method: :post %>

       <%= link_to " <i class='fas fa-bookmark bookmark-icon'></i>".html_safe, movie_bookmarks_path(movie), method: :post  %></i>


      </div>
    </div>


<% end %>
</div>

