
<div class="banner d-flex justify-content-end align-items-center px-3" style="background-image: url('<%= asset_path 'movie.jpg' %>'); box-shadow: 2px 5px 8px rgba(0,0,0,0.3);">
  <h1>List of movies</h1>
</div>

<!-- <div class="row">
 -->
 <div class="movie-grid">
<% @movies.each do |movie| %>
  <!-- <div class="col-4"> -->

    <div class="card-product-movies">
      <img src="<%= movie.picture_url %>" />
      <div class="card-product-infos-movies">
        <h2 ><%= movie.title %></h2>
        <p><%= movie.description %></p>
        <p class="Movie_icone"> IMDB NETFLIX AMAZON PRIME</p>

        <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, movie_recommendations_path(movie), method: :post%>

       <%= link_to " <i class='fas fa-bookmark bookmark-icon'></i>".html_safe, movie_bookmarks_path(movie), method: :post  %></i>


      </div>
    </div>


<% end %>
</div>

