<% unless params[:query].present? %>
<% end %>
<% if params[:query].present? %>
  <h1 style="margin-left:74px";>Theses are the search results for "<%= params[:query]%>"</h1>
<% end %>
<br>
<br>
<div class="container">
  <% @users.each do |user| %>
    <div class="friend-card d-flex justify-content-between">
      <div class="friend-card-avatar">
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key %>
        <% else %>
          <!-- <img src="https://pixy.org/download/301929/" class="friend-card-avatar"> -->
          <img src="<%= user.default_image %>" class="friend-card-avatar">
        <% end %>
      </div>
      <% if current_user.following?(user) %>
        <%= link_to unfollow_user_path(user), method: :patch do %>
          <i class="fas fa-minus icon"></i>
        <% end %>
      <% elsif user == current_user %>
        <div class="linktoedit">
          <%= link_to 'Edit Profile', edit_user_registration_path %>
        </div>
      <% else %>
        <%= link_to follow_user_path(user) do %>
          <i class="fas fa-plus icon"></i>
        <% end %>
      <% end %>
      <div class="friend-information d-flex flex-column">
        <%= link_to user_path(user) do %>
          <h1><%= user.first_name&.capitalize %> <%= user.last_name&.capitalize %> </h1>
        <% end %>
        <p>Bio: is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
      </div>
    </div>
  <% end %>
</div>