<!--Profile card-->
<div id="container_master_my_profile">

  <!-- profile card -->
  <div id="container_profile_card_my_profile">
    <div id="text_profile_card">
      <p id="profile_name"><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
      <p id="profile_bio"><%= @user.bio %></p>
      <div class="social">
        <p class="d-inline">Followers <strong><%= @user.followers_by_type_count('User') %></strong></p>
        <p class="d-inline">Following <strong><%= @user.all_follows.length %></strong>
      </div>
    <div id="follow_or_not">
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to unfollow_user_path(@user), method: :patch do %>
            <button id="follow" class="btn btn-primary">Unfollow</button>
          <% end %>
        <% else %>
          <%= link_to follow_user_path(@user) do %>
            <button id="follow" class="btn btn-light">Follow</button>
          <% end %>
        <% end %>
    <% end %>
  </div>
      <div id='edit_profile_button_new'>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do %>
            <button type="button" class="btn btn-dark">Edit Profile</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="white_background">
  </div>
   <div id="avatar_profile">
    <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill %>
      <% else %>
        <img class="profile_pic" src="https://pixy.org/download/301929/">
      <% end %>
    </div>

    <!-- /profile card -->

    <!-- tab -->
    <div id='container_tabs'>
        <ul class="list-inline tabs-underlined" id="myTab" role="tablist">
          <li class="nav-item-bookmarks">
            <a class="tab-underlined active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Recommendations</a>
          </li>
          <li class="nav-item">
            <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bookmarks</a>
          </li>
        </ul>
    </div>
    <!-- /tab -->

    <!-- Search Bar -->
    <div id='container_search_border'>
        <div id='search_profile'>
          <% if @user == current_user %>
            <%= form_tag movies_path, method: :get do %>
              <%= text_field_tag :query,
              params[:query], class: "form-control",
              placeholder: "Search for a movie to recommend"%>
               <div id="button-submit-search-reco"><%= submit_tag "Search now" %></div>
            <% end %>
          <% else %>
            <%= form_tag user_path(@user), method: :get do %>
              <%= text_field_tag :query, params[:query], class: "form-control",
              placeholder: "search for a tag"%>
            <div id="button-submit-search-reco"><%= submit_tag "Search", class: "btn btn-primary" %></div>
            <% end %>
          <% end %>
        </div>
  </div>
    <!-- /Search Bar -->


    <!-- Recos -->
    <% @recommendations.each do |recommendation| %>

        <div class="card-product-profile">
          <img src="<%= recommendation.movie.picture_url%> "/>
          <div class="card-product-infos-profile">
            <h2 id='movie-title-profile' ><%= recommendation.movie.title %></h2>
            <p><%= recommendation.movie.description %></p>
            <% if @user == current_user %>
              <p id='has-reco'><%= @user.first_name %> has recommended this movie with the tags:</p>
              <button id='add_a_tag'><%= link_to 'Add a tag', new_recommendation_tag_path(recommendation) %></button>
             <button id='add_a_tag'><%= link_to "Delete this recommendation", recommendation_path(recommendation), method: :delete, data: {confirm: "Whatt Why?"}%></button>
            <% end %>


            <div class='d-flex'>
              <% recommendation.tags.each do |tag| %>
                <% if @user == current_user %>
                  <div>
                    <div class='tag'><%= tag.name %></div>
                    <% if tag.name.present? %>
                      <p class='text-center'><%= link_to "Delete tag", tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete?"}%></p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="where-to-watch">
              <% if recommendation.movie.imdb_url.present? %>
                <%= link_to recommendation.movie.imdb_url, target: "_blank" do %>
                  <li><i class="fab fa-imdb"></i></li>
                <% end %>
              <% end %>
              <% if recommendation.movie.netflix_url.present? %>
                <%= link_to recommendation.movie.netflix_url, target: "_blank" do %>
                  <li><img src="https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png" alt="netflix" style="width:15px; height:15px;"></li>
                <% end %>
              <% end %>
              <% if recommendation.movie.amazon_url.present? %>
                <%= link_to recommendation.movie.amazon_url, target: "_blank" do %>
                  <li><i class="fab fa-amazon"></i></li>
                <% end %>
              <% end %>
              <% if @user != current_user && !current_user.bookmarks.where(movie: recommendation.movie).any? %>
                <%= link_to 'bookmark', movie_bookmarks_path(recommendation), method: :post %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <!--/Recos-->
</div><!-- /closing div master profile -->
<!--/Profile card-->
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

<!-- Bookmarks-->
    <% @user.bookmarks.each do |bookmark| %>
      <div class="card-product-profile">
        <img src="<%= bookmark.movie.picture_url%> "/>
        <div class="card-product-infos-profile">
          <h2 ><%= bookmark.movie.title %></h2>
          <p><%= bookmark.movie.description %></p>
            <div class="where-to-watch">
              <% if bookmark.movie.imdb_url.present? %>
                <%= link_to bookmark.movie.imdb_url, target: "_blank" do %>
                  <li><i class="fab fa-imdb"></i></li>
                <% end %>
              <% end %>
              <% if bookmark.movie.netflix_url.present? %>
                <%= link_to bookmark.movie.netflix_url, target: "_blank" do %>
                  <li><img src="https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png" alt="netflix" style="width:15px; height:15px;"></li>
                <% end %>
              <% end %>
              <% if bookmark.movie.amazon_url.present? %>
                <%= link_to bookmark.movie.amazon_url, target: "_blank" do %>
                  <li><i class="fab fa-amazon"></i></li>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<!--/Bookmarks-->

    </div>
<!--NOTE: closing DIV Container - reco -->
  </div>

<!--NOTE: closing DIV Container - profile -->
</div>





