

<div class="container_profile">
  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Quentin_Tarantino_by_Gage_Skidmore.jpg/1024px-Quentin_Tarantino_by_Gage_Skidmore.jpg" width="200">
    <div class="col">
      <h1 id="profile_username"><%= @user.first_name %> <%= @user.last_name %> (<%= @user.email %>)</h1>
      <!-- remove later -->

      <p id="profile_bio">My bio: Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
      <div class="row">
        <p class="col px-md-3" class="profile_follower">Followers <strong>333</strong></p>
        <p class="col px-md-3" class="profile_follower">Following <strong>30</strong></p>
      </div>
    </div>
    <div class="col">
      <button id="follow" class="btn btn-primary">Follow</button>
    </div>
  </div>
  <%= link_to "Add Movie", movies_path %>
</div>


<div class="container_reco">

  <% @user.recommendations.each do |recommendation| %>
   <ul>
      <div class="card-product-profile">
        <img src="recommendation.movie.picture_url" />
        <div class="card-product-infos-profile">
          <h2 ><%= recommendation.movie.title %></h2>
          <p><%= recommendation.movie.description %></p>
          <p class="Movie_icone"> IMDB NETFLIX AMAZON PRIME</p>
        </div>
      </div>
    </ul>
  <% end %>

  <p><%= link_to "edit profil", edit_user_registration_path %></p>

</div>





