<!--Profile card-->
<div id="container_master_my_profile">

  <!-- profile card -->
  <div id="container_profile_card_my_profile">
    <div id="text_profile_card">
      <p id="profile_name"><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
      <p id="profile_bio"><%= @user.bio %></p>
      <div class="social">
        <p class="d-inline">Followers <strong><%= @user.followers_by_type_count('User') %></strong></p>
        <p class="d-inline">Following <strong><%= @user.all_follows.length %></strong>
      </div>
      <div id="follow_or_not">
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to unfollow_user_path(@user), method: :patch do %>
              <button id="follow" class="btn btn-primary">Unfollow</button>
            <% end %>
          <% else %>
            <%= link_to follow_user_path(@user) do %>
              <button id="follow" class="btn btn-light">Follow</button>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div id='edit_profile_button_new'>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path do %>
            <button type="button" class="btn btn-dark">Edit Profile</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="white_background">
  </div>
  <div id="avatar_profile">
    <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill %>
    <% else %>
      <img class="profile_pic" src="https://pixy.org/download/301929/">
    <% end %>
  </div>
<!--/Profile card-->


<!--Buttons tab-->
  <div class="container_reco">
  <!--/Buttons tab-->

    <!-- /profile card -->

    <!-- tab -->
    <div id='container_tabs'>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Recommendations</a>
        </li>
        <% if @user == current_user %>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bookmarks</a>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /tab -->

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- Search Bar -->
        <div id='container_search_border'>
          <div id='search_profile'>
            <% if @user == current_user %>
              <%= form_tag movies_path, method: :get do %>
                <%= text_field_tag :query,

                params[:query], autocomplete: 'off', class: "form-control movielistid",
                placeholder: "Search for a movie to recommend"%>
                <div id="button-submit-search-reco"><%= submit_tag " + " %></div>

              <% end %>
              <div id="suggestions"></div>
            <% else %>
              <%= form_tag user_path(@user), method: :get do %>
                <%= text_field_tag :query, params[:query], class: "form-control",
                placeholder: "search for a tag"%>
                <div id="button-submit-search-reco-tag"><%= submit_tag "Search" %></div>
              <% end %>
            <% end %>
          </div>
        </div>
    <!-- /Search Bar -->
    <!-- Recos -->
        <% @recommendations.each do |recommendation| %>
          <div class="card-product-profile card_<%= recommendation.id %>">
            <img src="<%= recommendation.movie.picture_url%> "/>
            <div class="card-product-infos-profile">
              <h2 id='movie-title-profile' ><%= recommendation.movie.title %></h2>
              <p><%= recommendation.movie.storyline %></p>
              <% if @user == current_user %>
                <p id='has-reco'><%= @user.first_name %> has recommended this movie with the tags:</p>
                <button type="button" id='add_a_tag' data-toggle="modal" data-target="#addTagModal_<%= recommendation.id %>">
                  Add a new tag
                </button>
                <div class="modal fade" id="addTagModal_<%= recommendation.id %>" tabindex="-1" role="dialog" aria-labelledby="addTagModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Create a tag</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= simple_form_for([recommendation, @tag], remote: true) do |f| %>
                            <%= f.input :name %>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary">Create a tag</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

              <% end %>


              <div class='d-flex tags_<%= recommendation.id %>'>

                <% recommendation.tags.each do |tag| %>
                  <% if @user == current_user %>
                    <div>
                      <div class='tag'><%= tag.name %></div>
                      <% if tag.name.present? %>
                        <p class='text-center'id='remove-tage-icone'><strong><%= link_to " x ", tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete this tag?"}%></strong></p>
                      <% end %>
                    </div>
                  <% else %>
                   <div class='tag'><%= tag.name %></div>
                    <% if tag.name.present? %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div id="bookmark-from-friends">
                  <% if @user != current_user && !current_user.bookmarks.where(movie: recommendation.movie).any? %>
                    <%= link_to ' Add to Bookmarks', movie_bookmarks_path(recommendation), method: :post, :remote => true, class: "add-to-bookmarks" %>
                    <%= link_to ' Add to Recommendations', movie_recommendations_path(recommendation), method: :post, :remote => true, class: "add-to-recommendations" %>
                  <% end %>
                </div>


              <!--
              <div class="where-to-watch">
                <% if recommendation.movie.imdb_url.present? %>
                  <%= link_to recommendation.movie.imdb_url, target: "_blank" do %>
                    <li><i class="fab fa-imdb"></i></li>
                  <% end %>
                <% end %>
                <% if recommendation.movie.netflix_url.present? %>
                  <%= link_to recommendation.movie.netflix_url, target: "_blank" do %>
                    <li><img src="https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png" alt="netflix" style="width:15px; height:15px;"></li>
                  <% end %>
                <% end %>
                <% if recommendation.movie.amazon_url.present? %>
                  <%= link_to recommendation.movie.amazon_url, target: "_blank" do %>
                  <% end %>
                <% end %>
                -->


            </div>
            <div class="right-info">
              <% if @user == current_user %>
                <button id='add_a_tag_delete'><%= link_to "Delete recommendation", recommendation_path(recommendation), method: :delete, data: {confirm: "Are you sure? Do you want to delete this recommendation?"}, remote: true %></button>
              <% end %>
              <div id="links">
                <ul>
                  <li class="imdb"><a href="https://www.imdb.com/title/tt0095765/?ref_=fn_al_tt_1"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290384/imdb_fkuqhx.jpg" style='width:50px'></a></li>
                  <li class="netflix"><a href="https://www.netflix.com/search?q=incep&jbv=70131314&jbp=0&jbr=0"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290264/netflliw_fwehh5.png" style='width:80px'></a></li>
                  <li class="amazon"><a href="https://www.amazon.co.uk/Aliens-Lan/dp/B00HNJSU1W/ref=sr_1_1?keywords=aliens&qid=1575294742&s=instant-video&sr=1-1"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290073/amazon_logo_ffi0fs.png" style='width:100px'></a></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <!--/Recos-->
      </div><!-- /closing div master profile -->
<!--/Profile card-->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<!-- Bookmarks-->
        <% @user.bookmarks.each do |bookmark| %>
          <div class="card-product-profile card_<%= bookmark.id %>">
            <img src="<%= bookmark.movie.picture_url%> "/>
            <div class="card-product-infos-profile">
              <h2 ><%= bookmark.movie.title %></h2>
              <p><%= bookmark.movie.storyline %></p>
            </div>
            <div id="right-info-bookmark">
              <button id='add_a_tag_delete'><%= link_to "Delete this Bookmark", bookmark_path(bookmark), method: :delete, data: {confirm: "Whatt Why?"}, remote: true %></button>
              <div id="links">
                <ul>
                  <li class="imdb"><a href="https://www.imdb.com/title/tt0095765/?ref_=fn_al_tt_1"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290384/imdb_fkuqhx.jpg" style='width:50px'></a></li>
                  <li class="netflix"><a href="https://www.netflix.com/search?q=incep&jbv=70131314&jbp=0&jbr=0"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290264/netflliw_fwehh5.png" style='width:80px'></a></li>
                  <li class="amazon"><a href="https://www.amazon.co.uk/Aliens-Lan/dp/B00HNJSU1W/ref=sr_1_1?keywords=aliens&qid=1575294742&s=instant-video&sr=1-1"><img src="https://res.cloudinary.com/dtjblav7i/image/upload/v1575290073/amazon_logo_ffi0fs.png" style='width:100px'></a></li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
<!--/Bookmarks-->
      </div>
<!--NOTE: closing DIV Container - reco -->
    </div>

<!--NOTE: closing DIV Container - profile -->
  </div>
</div>





