
<div class="container_profile">
    <div class="row justify-content-center">
      <div>
        <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill %>
        <% else %>
            <img class="profile_pic" src="https://pixy.org/download/301929/">
        <% end %>
        <div class="col">
          <h1 id="profile_username"><%= @user.first_name %> <%= @user.last_name %> (<%= @user.email %>)</h1>
          <p id="profile_bio"><%= @user.bio %></p>
          <div class="row">
            <p class="col px-md-3" class="profile_follower">Followers <strong><%= @user.followers_by_type_count('User') %></strong></p>
            <p class="col px-md-3" class="profile_follower">Following <strong><%= @user.all_follows.length %></strong></p>
          </div>
        </div>
        <div class="col d-flex flex-column">
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to unfollow_user_path(@user), method: :patch do %>
            <button id="follow" class="btn btn-primary">Unfollow</button>
            <% end %>
          <% else %>
             <%= link_to follow_user_path(@user) do %>
                <button id="follow" class="btn btn-primary">Follow</button>
              <% end %>
          <% end %>
          <% end %>
          <div class='edit_profile_button'>
            <% if @user == current_user %>
              <%= link_to edit_user_registration_path do %>
              <button type="button" class="btn btn-dark">Edit Profile</button>
              <% end %>
            <% end %>
          </div>
       </div>
      </div>
  </div>
  <div class="container_reco">
    <% @user.recommendations.each do |recommendation| %>
      <ul>
        <div class="card-product-profile">
          <img src="<%= recommendation.movie.picture_url%> "/>
          <div class="card-product-infos-profile">
            <h2 ><%= recommendation.movie.title %></h2>
            <p><%= recommendation.movie.description %></p>
            <button class='add_a_tag'> <%= link_to 'Add a tag', new_recommendation_tag_path(recommendation) %> </button>
            <button> Delete movie</button>
            <p><%= @user.first_name %> has recommended this movie with the tags:</p>
            <% recommendation.tags.each do |tag| %>
              <p class='tag'><%= tag.name %></p>
            <% end %>
            <ul class="where-to-watch">
              <%= link_to recommendation.movie.imdb_url, target: "_blank" do %>
                <li><i class="fab fa-imdb"></i></li>
              <% end %>
              <% if recommendation.movie.netflix_url %>
                <%= link_to recommendation.movie.netflix_url, target: "_blank" do %>
                <li><img src="https://www.freepnglogos.com/uploads/netflix-logo-circle-png-5.png" alt="netflix" style="width:15px; height:15px;"></li>
              <% end %>
              <%= link_to recommendation.movie.amazon_url, target: "_blank" do %>
                <li><i class="fab fa-amazon"></i></li>
              <% end %>
            </ul>
          </div>
        </div>
      </ul>
    <% end %>
  </div>
</div>




