<div class="container pt-4">

  <div class="lets-go mb-4">
    <div class="lets-go-info d-flex flex-column align-items-center" >

      <h3 style="min-width: 36vw;">
        <span id="banner-typed-text"></span>
      </h3>


      <%= link_to recommendations_path  :action => 'go' do %>
      <!-- <div class="lets-go-button">Let's Go</div> -->
        <div class="my-div">
          <button class="learn-more"><span>Lets go</span></button>
        </div>
      <% end %>
    </div>

    <%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1574955096/illustrations_f9yo5s.svg", class:'lets-go-picture' %>
  </div>

  <h4 class="recommended-title">Most recommended movies this month</h4>
  <div class="line-seporater"></div>

  <div class="carousel">
    <% @movies.each do |movie| %>
      <%= image_tag movie.picture_url, class:'movie-picture', data: { toggle: 'modal', target: '#modal' + movie.id.to_s} %>

    <% end %>
  </div>
</div>

<% @movies.each do |movie| %>
  <div class="modal fade" id="modal<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content info-modal">
        <div class="modal-header modal-head">
          <h5 class="modal-title title-modal" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2><%= movie.title %></h2>
          <p><%= movie.description %></p>
          <p><%= movie.storyline %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal -->


<% if !user_signed_in? %>
  <div class="home-sign-up-box">
    <%= simple_form_for(registration_path(User.new)) do |f| %>
      <%= f.error_notification %>

      <div class="home-form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="lets-go-submit">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="three-box-container">

  <%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1575028623/background_fyixao.svg" %>
  <h1>Bookmark</h1>
  <h2>Millions of recommendations from your friends and others</h2>
</div>
