<div class="container pt-4">

  <div class="lets-go mb-4">
    <div class="lets-go-info d-flex flex-column" >
      <h3>Bookmark keeping you in the loop</h3>

      <%= link_to recommendations_path  :action => 'go' do %>
      <div class="lets-go-button">Let's Go</div>
      <% end %>
    </div>

    <%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1574955096/illustrations_f9yo5s.svg", class:'lets-go-picture' %>
  </div>

  <h4>Most recommended movies this month</h4>

  <div class="carousel">
    <% @movies.each do |movie| %>
      <%= image_tag movie.picture_url, class:'movie-picture' %>
    <% end %>
  </div>
</div>


<% if !user_signed_in? %>
  <div class="home-sign-up-box">
    <%= simple_form_for(registration_path(User.new)) do |f| %>
      <%= f.error_notification %>

      <div class="home-form-inputs">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="lets-go-submit">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="three-box-container">

  <%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1575028623/background_fyixao.svg" %>
  <h1>Bookmark</h1>
  <h2>Millions of recommendations from your friends and others</h2>
</div>
