function refreshForm(innerHTML) {
  const newTagForm = document.querySelector('tag_name');
  newTagForm.innerHTML = innerHTML;
}

function addTag(newTag) {
  const tags = document.querySelector('.tags_<%= @recommendation.id %>');
  // const deleteButton = document.querySelector('.tags_<%= @recommendation.id %>')
  tags.insertAdjacentHTML('beforeend', newTag);
  // deleteButton.insertAdjacentHTML('Afterend', '<p class="text-center"id="remove-tage-icone"><strong><%= link_to " x ", tag_path(@tag), method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this tag?"}%></strong></p>' )
}




function closeOneModal(modalId) {

    // get modal
    const modal = document.getElementById(modalId);

    // change state like in hidden modal
    modal.classList.remove('show');
    modal.setAttribute('aria-hidden', 'true');
    modal.setAttribute('style', 'display: none');

     // get modal backdrop
     const modalBackdrops = document.getElementsByClassName('modal-backdrop');

     // remove opened modal backdrop
      document.body.removeChild(modalBackdrops[0]);
}


newTag = `<div class='tag_<%= @tag.id %>'><div class='tag'><%= @tag.name %></div><p class='text-center'id='remove-tage-icone'><strong><%= link_to ' x ', tag_path(@tag), method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this tag?'}%></strong></p></div>`
addTag(newTag);
closeOneModal("addTagModal_<%= @recommendation.id %>")
