<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>bookmark - Loved it, Share it</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta property="og:title" content="Bookmark - Love it, Share it!">
    <meta property="og:image" content="https://res.cloudinary.com/dtjblav7i/image/upload/c_scale,h_630,w_1200/v1575459497/Capture_d_e%CC%81cran_2019-12-04_a%CC%80_11.37.32_eflzlz.png">
    <meta property="og:description" content="Share all your movie recommendations with your friends!">
    <meta property="og:site_name" content="Bookmark"/>
    <meta property="og:url" content="http://www.bkmthis.com"/>
    <%= favicon_link_tag asset_path("favicon_link_tag.png") %>
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
 </body>
</html>
